:root {
    --primary-color: black;
    --secondary-color: #F5F5F5;
    --background-color: white;
    background: var(--background-color);
}

body, select, .button {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: normal;
}

body {
    margin: 10%;
    color: var(--primary-color);
    background-color: var(--background-color);
}

header {
    font-size: 1.3em;
    margin-bottom: 1em;
}

section {
    display: -webkit-flex;
    display: flex;
}

.col-left {
    margin-right: auto;

    border-right: 1px solid var(--primary-color);
}

.col-right {
    margin-left: 1em;
}

@keyframes btn-click {
    from {
        background-color: var(--primary-color);
        color: var(--background-color);
    }
    to {
        background-color: var(--background-color);
        color: var(--primary-color);
    }
}

.btn-click-animatable {
    animation-name: btn-click;
    animation-duration: 0.5s;
}

select, .button {
    background-color: var(--background-color);
    border: 1px solid var(--primary-color);
    font-style: 1em;
    padding: 0.3em 1em;
}

.button:hover, select:hover {
    background-color: var(--secondary-color);
}

td {
    padding: 0 1em;
}

.vertical-scrollbar {
    overflow-y: auto;
}

#nearbyCPsContainer {
    max-height: 15em;
}

#gazetteerContainer {
    max-height: 30em;
}

.hidden {
    display: none;
}

::-webkit-scrollbar-track
{
	background-color: var(--background-color);
}

::-webkit-scrollbar
{
	width: 0.5em;
	background-color: var(--background-color);
}

::-webkit-scrollbar-thumb
{
	background-color: var(--primary-color);	
}
